:root {
  color-scheme: light dark;
  font-size: 12px;
  --bg: #ffffff;
  --bg-dark: #000000;
  --font:
    "Verdana", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  background-color: var(--bg);
  font-family: var(--font);
}
